.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image img {
	object-fit: contain;
}

.tagsContainer {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tagContainer {
	display: flex;
	justify-content: space-around;
	position: relative;
	background-color: rgba(0, 0, 255, 0.2);
	min-width: 120px;
	border-radius: 18px;
	padding: 6px 0;
	margin: 4px 0;
}

.tag {
	font-size: 12px;
	margin: 0 20px;
}

.tagRemove {
	position: absolute;
	right: 6px;
	top: 4px;
	cursor: pointer;
}
.tagRemove > img {
	width: 14px;
}

.addTagInput {
	margin-top: 12px;
	text-align: center;
	border: none;
	background-color: transparent;
}
